*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --grey: #778686;
    --dark-pink: #d9a3a3;
    --light-pink: #ecddda;
    --dark-brown: #5e6355;
    --light-brown: #bf9d73;
    --yellow: #f29727;
    --purple: #b38594;
}

.navbar-brand img{
    border-radius: 50%;
}

.nav-link:hover{
    background-color: var(--light-pink);
    border-radius: 20%;
}

.logo h3{
   color: var(--light-brown)
}

.btn{
    background-color: var(--purple);
    border: 2px solid var(--purple);
    color:var(--light-pink);
}

.btn:hover{
    background-color: var(--light-pink);
    border: 2px solid var(--light-pink);
    color:var(--purple);
}

.color-form{
    background-color: var(--light-pink);
    border-color: var(--purple);
}

