*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    --grey: #778686;
    --dark-pink: #aa5377;
    --light-pink: #cf8da7;
    --dark-brown: #5e6355;
    --light-brown: #bf9d73;
    --yellow: #f29727;
    --purple: #3b3759;
    --green-light: #7aacb3;
    --green-dark: #4c6e81;

}

.navbar-brand img{
    border-radius: 50%;
}

.nav-link:hover{
    background-color: var(--light-pink);
    border-radius: 20%;
}

.logo h3{
   color: var(--light-brown)
}

.btn{
    background-color: blueviolet;
    border: 2px solid blueviolet;
    color:white;
}

.btn:hover{
    background-color: var(--light-pink);
    border: 2px solid var(--light-pink);
    color:blueviolet;
}

.color-form{
    background-color: var(--light-pink);
    border-color: var(--purple);
}
